@charset "utf-8";
/* CSS Document */
body { padding:10px; margin:0px; 
            background-color: #ccc; }
  #main { margin: 10px auto 0px auto; }
  
  ul,li,a{ list-style:none;
  		margin:0px;
  		padding:0px;
  		}
  		
  label{margin-top:10px !important;}		


